<h1>Enter the name of a burger you would like to eat, and then click the button when you have eaten it.</h1>

<h2>Waiting to be eaten</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burger/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burger/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Type the name of a burger you would like to eat:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">What burger would you like to eat?</label>
    <input type="text" id="burg" burger_name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Did you eat it already??</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten/Yes<br>
    <input type="radio" name="devoured" value="0"> Available/No
  </div>

  <button type="submit">Add the Burger</button>
</form>