<h1>Make a Burger!</h1>

<h2>something here</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burger/burger-block sleep=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>something else here</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burger/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Eaten<br>
    <input type="radio" name="sleepy" value="0"> Available
  </div>

  <button type="submit">Create a New Burger</button>
</form>